@font-face {
    font-family: "tangerine";
    src: url("./fonts/Roboto-Black.ttf"), url("./fonts/Roboto-Regular.ttf"), url("./fonts/Roboto-Thin.ttf")
  }

html,
body {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: center;
    margin: 1%;
    background-color: #ffffff;
    color: white;
}

.container .cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid rgba(51, 49, 49, 0.3);
    box-sizing: border-box;
}

.cta {
    font-style: normal;
    text-align: center;
    background-color: black;
}

#profile_bild {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.button {
    background-color: #f9a91ddf;
    border: 1px solid #f9a91ddf;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 12px;
   font-family: Roboto-Regular;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: white;
}

h1 {
    font-family: Roboto-Black;
    font-size: 20px;
    margin: 5px 0;
}

h2 {
    font-family: Roboto-Regular;
    font-size: 18px;
    margin: 5px 0 10px;
    padding: 10px;
    margin: 5px 0 10px;
}

.body{
    font-family: Roboto-Thin;
    font-size: 12px;
}

.button {
    background-color: #f9a91ddf;
    border: 1px solid #f9a91ddf;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    color: white; /* Setzt die Textfarbe auf Weiß */
    text-decoration: none; /* Entfernt die Unterstreichung */
    cursor: pointer; /* Ändert den Mauszeiger zum Handcursor */
}

.button:hover {
    background-color: black;
    color: white;
}
