html,
body {
    /*das ist außenabstand*/
    margin: 0px;
    /*das ist innenabstand*/
    padding: 0px;

}

.nav {
    border: 3px red solid;
    height: 120px;
    width: 100%;
    background: yellow;
    padding: 10%;
}

.link {
    border: black 1px solid;
    height: 100px;
    background: #acff2fe0;
    width: 100%;
    margin:auto;

}

.link2 {
    border: black 1px solid;
    height: 50px;
    background: #ff2fd2e0;
    width: 50%;
    margin:20px;

}